*{
    font-family: Trebuchet MS,sans-serif;
    font-size: 30px;
    font-weight: 401;
    line-height: 33px;
    letter-spacing: 0;
    color: #6C63FF;
    transform:translateY(10%);
}

#picture{
    width: 40px;
    height: 30px;
    cursor: pointer;
    alignment: right;
    transform: translateX(2000%);
}

button{
    width: 200px;
    padding: 15px 0;
    margin: 30px 30px;
    border-radius: 5px;
    font-weight: bold;
    border:none;
    background-color: #6C63FF;
    color:white !important;
    cursor: pointer;
    display:inherit;
    margin-top:40px !important;
    transform:translate(-10%,-3%);
    display:inline-block;
}

.footer {
    padding: 4rem 0;
    border-top: 1px solid hsla(0,0%,100%,.1);
    transform: translateY(10%);
}


